@section PolymerImports{
    <link rel="import" href="@Url.Action(MVC.WebComponents.All())" />
}


<proto-stylor>

    <p class="child-thingy">Child thing 1</p>
    <p class="child-thingy">Child thing 2</p>
    <p class="other-thingy">Other thing 1</p>

</proto-stylor>

@*
    <proto-element></proto-element>

    <name-collector id="123" first-name="Foo" last-name="Bar"></name-collector>


    <name-list>
        <li class="name">Bob</li>
        <li class="name">Tony</li>
        <li class="name">sam</li>
    </name-list>

*@
