<dom-module id="name-list">
    <template>
        <ul id="name-lister">
            <content select=".name"></content>
        </ul>
        <p id="name-display">{{nameList}}</p>
    </template>
</dom-module>



<script>

    PolymerTestBed.registerWebComponent({
        is: "name-list",

        properties: {
          nameList: {
              type: String,
              value: 'No Names yet',

          }  
        },

        ready: function() {
            var allTags = Polymer.dom(this.$.nameLister).querySelectorAll('.name');

            if (!allTags) {
                return;
            }

            var allGreetings = '';
            _.map(allTags, function (item) {
                return item.innerText ?  'Name collected: ' + item.innerText : '';
            }).forEach(function(greeting) {
                allGreetings = allGreetings + greeting + ', ';
            });

            this.nameList = allGreetings;
        }
    });

</script>