<dom-module id="name-collector">
    <template>

        <div>
            <h1>Submit your name: </h1>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" value="{{firstName}}" />

            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" value="{{lastName}}" />
            
            <label id="fullName"></label>
        </div>

    </template>
</dom-module>

<script>
    polymerTestBed.components.NameCollector();
</script>
