<dom-module id="name-collector">
    <template>

        <div>
            <h1>Submit your name: </h1>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" value="{{firstName}}" />

            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" value="{{lastName}}" />
            
            <p id="fullName"></p>
        </div>

    </template>
</dom-module>

<script>
    PolymerTestBed.registerWebComponent({
        is: "name-collector",

        properties: {

            id: String,

            firstName: {
                type: String,
                observer: 'nameChanged',
                reflectToAttribute: true,
            },

            lastName: {
                type: String,
                observer: 'nameChanged',
                reflectToAttribute: true
            },

            fullName: {
                type: String,
                computed: 'computeFullName(firstName, lastName)',
            }
        },

        computeFullName: function (fName, lName) {
            return fName + ' ' + lName;
        },

        nameChanged: function (newValue, oldValue) {
            console.log('Name: ' + this.fullName);
            //this.$.fullName.textContent = this.fullName;
            this.$$('p').textContent = this.fullName;
        },
    });

</script>
