@{
    Layout = null;
}
<span>
    <link rel="import" href="@Url.Content("~/Content/bower_components/polymer/polymer.html")">
</span>


<span>
@Scripts.Render("~/polymerTestbed/webComponents")    
</span>

@Html.Partial(MVC.WebComponents.Views.ProtoElement)



